@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:wght@400;700&family=Funnel+Display&display=swap');

h1, h3, h4, p {
    font-family: "Arsenal SC", serif;
    margin-left: 20px;
}

h1, h3, ol li, ul li{
    color: #002147;
}

h4, p {
    text-align: center;
}

ul, ol li {
    font-family: "Funnel Display";
    margin-left: 20px;
    margin-right: 20px;
}

header, footer {
    background-color: lightblue;
    text-align: center;
}

.img1 {
    display: block;
    margin-left: 300px;
    margin-right: auto;
    width: 300px;
    border-radius: 50px 50px;
    opacity: 0.8;
    border: 2px solid black;
}

.img2 {
    display: block;
    margin-left: 40px;
    margin-right: 20px;
    width: 200px;
    opacity: 0.8;
    border-radius: 15px 50px;

}

.img3 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
}

#fig_border {
    border-style: double;
    padding-bottom: 20px;
}

main {
    background-color: #f0f8ff;
}

a:hover {
    background-color: #ffcc99;
    opacity: 0.8;
    font-size: 30px;
    color: black;
    border-radius: 4px;
}

a {
    color: #004953;
}

figure > ol, ul {
    list-style-type: circle;
}